.card {
  width: 32rem;
  align-self: flex-start;
  background-color: var(--secondary-light-color);
}

.image {
  width: 100%;
  height: 25rem;
  aspect-ratio: 2/1;
  object-fit: cover;
}
