.card {
  width: 32rem;
  align-self: flex-start;
  box-shadow: var(--shadow);
  border: 1px solid var(--secondary-light-color);
}

.image {
  width: 100%;
  height: 25rem;
  aspect-ratio: 2/1;
  object-fit: cover;
}
