/* overriding toastify styles */
.Toastify {
  --toastify-color-success: var(--success-color);
  --toastify-text-color-light: var(--text-color);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-color-progress-success: var(--success-color);
}

.Toastify__toast-container--top-right {
  top: 6em;
  right: 1em;
}

.Toastify__toast-body > div:last-child {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}
