.option {
  cursor: auto;
  text-transform: none;
  letter-spacing: 1.2px;
  color: var(--primary-color);
  background-color: var(--secondary-light-color);
}

.option.wrong {
  background-color: var(--error-color);
}

.option.correct {
  background-color: var(--success-color);
}
