.container {
  margin: 0 auto;
  max-width: 75rem;
}

.link {
  flex-shrink: 0;
  text-transform: none;
}

.link:hover {
  text-decoration: underline;
}

.option {
  cursor: auto;
  text-transform: none;
  letter-spacing: 1px;
  color: var(--primary-color);
  background-color: var(--secondary-light-color);
}

.option.wrong {
  background-color: var(--error-color);
}

.option.correct {
  background-color: var(--success-color);
}
