.cta {
  color: var(--secondary-hover-color);
}

.cta:hover {
  opacity: 0.8;
}

.primary-cta {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.cta-icon {
  font-size: 3rem;
}

.cta:hover .cta-icon {
  transform: translateX(10px);
}

.wrong {
  background-color: var(--error-color);
}

.correct {
  background-color: var(--success-color);
}

.quiz-container {
  max-width: 50rem;
}
