/* links and buttons */
.cta {
  color: var(--secondary-hover-color);
}

.cta:hover {
  opacity: 0.8;
}

.primary-cta {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.cta-icon {
  font-size: 3rem;
}

.cta:hover .cta-icon {
  transform: translateX(10px);
}

.wrong {
  background-color: var(--error-color);
}

.correct {
  background-color: var(--success-color);
}

.outlined-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.outlined-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* container */
.quiz-container {
  max-width: 50rem;
}

.main-container {
  height: 100%;
  min-height: calc(100vh - 7.6rem);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-container {
  margin: auto;
  max-width: 140rem;
}

/* tooltip */
.tooltip[data-tooltip] {
  position: relative;
}

.tooltip[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 6rem;
  z-index: 1;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 4px 6px;
  max-width: 15rem;
  width: max-content;
  text-transform: none;
  letter-spacing: 0.8px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--tooltip-background-color);
}

@media screen and (max-width: 30em) {
  .tooltip[data-tooltip]:hover::after {
    right: 0;
  }
}
