@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input,
button {
  font-family: inherit;
}

input:focus {
  outline: 2px solid var(--secondary-color);
}
