@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

input,
button {
  font-family: inherit;
}

input {
  outline: none;
  border: 1px solid var(--gray);
}

input:focus {
  border: 1px solid var(--text-color);
}

a,
button {
  font-size: 1.4rem;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  padding: 1rem 1.6rem;
  text-transform: uppercase;
}
