/* text */
.text-xs {
	font-size: 1.2rem;
}

.text-sm {
	font-size: 1.4rem;
}

.sub-title {
	font-size: 1.6rem;
}

.title {
	font-size: 1.8rem;
}

.underline {
	text-decoration: underline;
}

.text-gray {
	color: var(--gray);
}
