/* text */
.text-xs {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1.4rem;
}

.text-sub-title {
  font-size: 1.6rem;
}

.text-title {
  font-size: 1.8rem;
}

.underline {
  text-decoration: underline;
}

.text-gray {
  color: var(--gray);
}
