:root {
  --yellow: #facc15;
  --tooltip-color: #ffffff;
  --navigation-shadow: rgba(0, 0, 0, 0.2);
}

.light {
  --gray: #6b7280;
  --hover: #9ca3af;
  --error-color: #ef4444;
  --success-color: #22c55e;
  --primary-color: #131517;
  --secondary-color: #fafafa;
  --secondary-light-color: #d1d5db;
  --secondary-hover-color: #e5e7eb;
  --navigation-background-color: #fafafa9c;
  --shadow: 0px 2px 8px 0px #63636333;
  --tooltip-background-color: #525252b0;
}

.dark {
  --gray: #b1b1b1;
  --hover: #45494d;
  --error-color: #ce3838;
  --success-color: #189545;
  --primary-color: #fafafa;
  --secondary-color: #131517;
  --secondary-light-color: #242628;
  --secondary-hover-color: #212325;
  --navigation-background-color: #1315179c;
  --shadow: 0px 2px 8px 0px #00000066;
  --tooltip-background-color: #52525269;
}
