.option {
  color: var(--primary-color);
  background-color: var(--secondary-light-color);
}

.option:hover {
  background-color: var(--hover);
}

.option.wrong {
  background-color: var(--error-color);
}

.option.correct {
  background-color: var(--success-color);
}
