.header {
  max-width: 50rem;
}

.timer {
  width: 6rem;
}

.quitLink {
  color: var(--white);
  background-color: var(--error-color);
}

.option {
  text-transform: none;
  color: var(--primary-color);
  background-color: var(--secondary-light-color);
}

.option:hover {
  background-color: var(--hover);
}

.option.wrong {
  background-color: var(--error-color);
}

.option.correct {
  background-color: var(--success-color);
}
