.answer {
  color: var(--primary-color);
  background-color: var(--secondary-light-color);
}

.answer:hover {
  background-color: var(--hover);
}

.answer.wrong {
  background-color: var(--error-color);
}

.answer.correct {
  background-color: var(--success-color);
}
