.navbar {
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 3px 0 var(--navigation-shadow);
  background-color: var(--navigation-background-color);
}

.heading {
  padding: 0 8px;
  font-size: 2rem;
  text-transform: none;
}

.themeBtn span {
  font-size: 2.6rem;
  color: var(--primary-color);
}

.themeBtn {
  padding: 6px;
}

.themeBtn:hover {
  background: var(--secondary-hover-color);
}

.loginCta:hover {
  background: var(--secondary-hover-color);
}

@media screen and (max-width: 30em) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
