.categoryLink {
  width: max-content;
}

.link {
  text-transform: none;
}

.link:hover {
  text-decoration: underline;
}

.trophyIcon {
  font-size: 5rem;
  color: var(--yellow);
}

.leaderboard {
  margin: auto;
  max-width: 75rem;
}
